<header class="p-2" style="background-color: rgb(40, 64, 109);">
  <div class="container">
    <div class="d-flex">
      <ul class="nav" style="height: 48px;">
        <li>
          <a href="/" class="nav-link px-2 link-dark">
            <i class="fa-solid fa-house" style="color: white;"></i>
          </a>
        </li>
        
        <li>
          <a
            href="https://www.themoviedb.org/?language=pt-BR"
            target="_blank"
            class="nav-link px-2 link-dark"
            >
            <i class="fa-solid fa-clapperboard" style="color: white;"></i>
          </a>
        </li>
      </ul>

      <section style="padding: 5px; text-align: center">
        <div class="container">
          <form class="form-inline my-2 my-lg-0" style="width: 800px;">
            <input
              style="border-radius: 50px"
              type="search"
              class="form-control"
              placeholder="Press entrer to search"
              [(ngModel)]="stringSearch"
              name="searchStr"
              (keyup.enter)="search($event)"
            />
          </form>
        </div>
      </section>

      <form>
        <ul class="nav" style="height: 48px;">
          <li>
            <a
              href="https://github.com/joseguilhermemarinho"
              target="_blank"
              class="nav-link px-2 link-dark"
              >
              <i class="fa-brands fa-github" style="color: white;"></i>
            </a>
          </li>

          <li>
            <a
              href="https://www.linkedin.com/in/jgamdev"
              target="_blank"
              class="nav-link px-2 link-dark"
              >
              <i class="fa-brands fa-linkedin" style="color: white;"></i>
            </a>
          </li>
        </ul>
      </form>
    </div>
  </div>
</header>

<div class="app-home-page">
  <div class="container justify-content-center" *ngIf="data">
    <div class="row" style="padding: 5px">
      <div
        class="col-md-4 d-flex align-items-stretch"
        *ngFor="let movie of data"
      >
        <div class="card-box-shadow" style="border-radius: 0x; margin: 5px;">
          <img
            class="card-img-top"
            style="border-radius: 3px"
            data-src="{{ url_img + movie.poster_path }}"
            alt="Card image cap"
          />
          <div class="card-body">
            <div class="_label" style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight:600; text-align: justify;">{{ movie.overview }}</div>
            <div class="video-container">
              <youtube-player
              videoId="{{ movie.idTrailer }}"
              suggestedQuality="highres"
              [height]="250"
              [width]="460"
            >
            </youtube-player>
            </div>

            <div
              style="padding: 5px"
              class="
                d-flex
                justify-content-between
                align-items-center
                text-muted
              "
            >
              <small
                >Release date:
                {{ movie.release_date | date: "dd/MM/yyyy" }}</small
              >
              <small>Average score: {{ movie.vote_average }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
