<header class="p-2">
  <div class="container">
    <div
      class="
        d-flex
        flex-wrap
        align-items-center
        justify-content-center justify-content-lg-start
      "
    >
      <ul
        class="
          nav
          col-12 col-lg-auto
          me-lg-auto
          mb-2
          justify-content-center
          mb-md-0
        "
      >
        <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
        <li>
          <a
            href="https://www.themoviedb.org/?language=pt-BR"
            class="nav-link px-2 link-dark"
            >The Movie DB</a
          >
        </li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <ul
          class="
            nav
            col-12 col-lg-auto
            me-lg-auto
            mb-2
            justify-content-center
            mb-md-0
          "
        >
          <li>
            <a
              href="https://github.com/EmmanuelSarachini"
              class="nav-link px-2 link-secondary"
              >GitHub</a
            >
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/emmanuel-rosa-sarachini-de-oliveira-4a7b4874/"
              class="nav-link px-2 link-dark"
              >LinkedIn</a
            >
          </li>
          <li>
            <a
              href="https://www.facebook.com/emmanuel.sarachini/"
              class="nav-link px-2 link-dark"
              >Facebook</a
            >
          </li>
        </ul>
      </form>
    </div>
  </div>
</header>

<div class="app-home-page">
  <section style="padding: 5px; text-align: center">
    <div class="container">
      <form class="form-inline my-2 my-lg-0">
        <input
          style="border-radius: 25px"
          type="search"
          class="form-control"
          placeholder="Busque por filmes, séries, atores..."
          [(ngModel)]="stringSearch"
          name="searchStr"
          (keyup.enter)="search($event)"
        />
        <small style="color: #369">Aperte "enter" para buscar.</small>
      </form>
    </div>
  </section>

  <div class="container" *ngIf="data">
    <div class="row" style="padding: 5px">
      <div
        class="col-md-4 d-flex align-items-stretch"
        *ngFor="let movie of data"
      >
        <div class="card box-shadow" style="border-radius: 25px; margin: 5px">
          <img
            class="card-img-top"
            style="border-radius: 25px"
            data-src="{{ url_img + movie.poster_path }}"
            alt="Card image cap"
          />
          <div class="card-body">
            <p class="_label">{{ movie.overview }}</p>
            <div class="video-container">
              <youtube-player
              videoId="{{ movie.idTrailer }}"
              suggestedQuality="highres"
              [height]="250"
              [width]="460"
            >
            </youtube-player>
            </div>

            <div
              style="padding: 5px"
              class="
                d-flex
                justify-content-between
                align-items-center
                text-muted
              "
            >
              <small
                >Release date:
                {{ movie.release_date | date: "dd/MM/yyyy" }}</small
              >
              <small>Average score: {{ movie.vote_average }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
