  .app-home-page {
    background-color: rgb(31, 50, 90);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }

  .card-body {
    background-color: white;
    border-radius: 3px;
  }

  .container {
    max-width: 1000px;
  }

  .nav {
    align-content: center;
    color: white;
  }